@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Reusable CSS  */
body{
    font-family: 'Poppins', sans-serif;
    
}
h1{
    font-size: 2.5rem;
    font-weight: 700;
}
h2{
    font-size: 1.8rem;
    font-weight: 600;
}
h3{
    font-size: 1.4rem;
    font-weight: 800;
}
h4{
    font-size: 1.1rem;
    font-weight: 600;
}
h5{
    font-size: 1rem;
    font-weight: 400;
    color: #1d1d1d;
}
h6{
    color: #d8d8d8;
}
button{
    outline: none;
    border: none;
    color: aliceblue;
    background-color: #1d1d1d;
    padding: 13px 30px;
    font-size: .8rem;
    font-weight: 700;
    text-transform: capitalize;
    border-radius: 5px;
    outline: none;
    
}
.star i{
    color: goldenrod;
    font-size: 0.8rem;
}
hr{
    height: 2px;
    width: 40px;
    background-color: #fb774b
}

/* Header section  */

.navbar{
    font-size: 16px;
}
.navbar .navbar-nav .nav-link{
    padding: 0 20px !important;
    color: black;
    transition: .3s;
}
.navbar .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar .navbar-nav .nav-link:active,
.navbar i:active{
    color: coral;
}
.navbar i{
    padding: 0 7px;
    color: black;
    transition: .3s;
    font-size: 1.2rem;
    font-weight: 500px;
}
#bar{
    font-size: 1.5rem;
    padding: 7px 10px; 
    border-radius: 5px;
    transition: 0.3s;
    color:white;
    cursor: pointer;
    background-color: coral;
    transition: .3s;
    
    
}
#bar:hover,
#bar:active{
    color: #fff;
    background-color: coral;
}
/* Mobile Nav */
.navbar-light .navbar-toggler{
    border:none;
    outline: none;
}
@media only screen and (max-width:991px) {
    body>nav>div>button:hover,
    body>nav>div>button:focus{
        background-color: coral;
    }
    body>nav>div>button:hover #bar,
    body>nav>div>button:focus #bar{
        color: white;
    }
    
}
#navbarSupportedContent > ul{
    margin: 1rem;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}
#navbarSupportedContent > ul > li:nth-child(n) > a{
    padding: 10px 0;
}
/* banner stylesheet */
#home {
    background: url("../images/back.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  top 60px center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
#home span{
    color: coral;
}

/* New section  */
#new .one img{
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#new .one .details{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: 0.3s;
    
}
#new .one:hover .details{
    cursor: pointer;
    background-color: rgba(241, 147, 113, 0.226);
}
#new .one .details button{
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: #2a2a2a;
    background:none;
    text-transform: uppercase;
    padding: 2.5px;
    border-bottom: 1px solid #2a2a2a;
    transform: translateY(70px);
    transition: .3s;

}
#new .one .details button:hover{
    color: #fff;
    border-bottom: 1px solid #fff;
}
#new .one:nth-child(1) .details{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: flex-start;
    text-align: start;}

#new .one:nth-child(2) .details{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    text-align: center;
}
#new .one:nth-child(3) .details{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: flex-end;
    text-align: end;
}

/* Product section Styesheets */

.products{
    cursor: pointer;
    margin-bottom: 2rem;
}
.products img{
    transition: .3s all;
}
.products:hover img{
    opacity: 0.7;
}
.products .btn-buy{
    background-color:#fb774b ;
    transform: translateY(20px);
    opacity: 0;
    transition: .3s;
    outline: none;
    border: none;

}
.products:hover .btn-buy{
    transform: translateY(0);
    opacity: 1;
    

}

/* Parallax banner */
#parallx-banner{
    background-image: url('../images/banner/parallax.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top 70px center ;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    
}